# HW1 - Applied Quantitative Logistics
## by Kenzin Igor

## Definitions

**Brute Force:** straightforward methods of solving a problem that rely on sheer computing power and trying every possibility rather than advanced techniques to improve efficiency. [link](https://textbooks.cs.ksu.edu/cc310/4-data-structures-and-algorithms/12-brute-force/#:~:text=Simply%20put%2C%20a%20brute%20force,over%20and%20try%20the%20other.)

- A brute force algorithm solves a problem through exhaustion: it goes through all possible choices until a solution is found.

- The time complexity of a brute force algorithm is often proportional to the input size.

- Brute force algorithms are simple and consistent, but very slow.

Instruction for submission:

- Please submit your solutions in (.ipynb) format to my email XX.

- Deadline: **February 3, 2023, 11:59 pm.**

- The subject of the email: **[HW1_AQL]-YOUR_NAME**

In [ ]:
import pandas as pd
from datetime import datetime
format = "%d.%m.%Y"

### Requirements

In [ ]:
df_resources = pd.DataFrame([[1, "A"], [2, "B"], [3, "C"],
                             [4, "D"],[5, "E"]], columns=["ID", "Name"])
df_resources

   ID Name
0   1    A
1   2    B
2   3    C
3   4    D
4   5    E

In [ ]:
df_projects = pd.DataFrame([[1, "a", "10.05.2020", "15.05.2020"], [2, "b", "13.05.2020", "27.07.2020"],
                            [3, "c", "08.07.2020", "30.07.2020"], [4, "d", "11.12.2020", "29.12.2020"],
                            [5, "e", "06.11.2020", "07.11.2020"]], 
                           columns=["ID", "Name", "Start Time", "End Time"])
df_projects

   ID Name  Start Time    End Time
0   1    a  10.05.2020  15.05.2020
1   2    b  13.05.2020  27.07.2020
2   3    c  08.07.2020  30.07.2020
3   4    d  11.12.2020  29.12.2020
4   5    e  06.11.2020  07.11.2020

In [ ]:
df_expertise = pd.DataFrame([[1, 1, 1], [2, 5, 3], [3, 2, 4], [4, 4, 5], [5, 3, 2], [6, 2, 1], [7, 3, 1], [8, 2, 2]],
                           columns=["ID", "ID_res", "ID_pro"])

df_expertise

   ID  ID_res  ID_pro
0   1       1       1
1   2       5       3
2   3       2       4
3   4       4       5
4   5       3       2
5   6       2       1
6   7       3       1
7   8       2       2

### All Feasible Combinations

In [ ]:
def isIntersect(i, j):
  stati = datetime.strptime(df_projects['Start Time'][i], format)
  endi = datetime.strptime(df_projects['End Time'][i], format)
  statj = datetime.strptime(df_projects['Start Time'][j], format)
  endj = datetime.strptime(df_projects['End Time'][j], format)
  if (endi < statj or endj < stati):
    return False
  else:
    return True

In [ ]:
dic = dict()
for i in range(len(df_projects)):
  dic[i] = []
for i in range(len(df_expertise)):
  p = df_expertise['ID_pro'][i] - 1
  r = df_expertise['ID_res'][i]
  dic[p].append(r)

In [ ]:
def check(lst):
  for i in range(len(lst)):
    for j in range(i + 1, len(lst)):
      if(lst[i] == lst[j] and isIntersect(i, j)):
        return False
  return True

### Brute Force - [Algorithm Name]

In [ ]:
ans = []
num = len(df_projects)
lst = [0] * num
def dfs(lst, d):
  if d == num:
    if check(lst):
      ans.append(lst.copy())
    else:
      return
  else:
    for r in dic[d]:
      lst[d] = r
      dfs(lst, d + 1)
dfs(lst, 0)

### Print the Solutions

In [ ]:
print(ans[0])

[1, 3, 5, 2, 4]

In [ ]:
print(ans[1])

[1, 2, 5, 2, 4]

In [ ]:
print(ans[2])

[2, 3, 5, 2, 4]

In [ ]:
print(ans[3])

[3, 2, 5, 2, 4]